<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLBH.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLBH.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="QLBH.Core.Properties.Settings.QLBanHangConnectionString"
      connectionString="Data Source=HAH;Initial Catalog=QLBH_TA;Persist Security Info=True;User ID=sa;Password=VietNam123#;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Isolated Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add partitionName="QLBH" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Isolated Storage"/>
    </backingStores>

    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage" name="Isolated Cache Manager"/>
      <add name="Memory Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="Loading Scenario Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>
<startup><supportedRuntime version="v4.0.30319"/></startup><userSettings>
    <QLBH.Core.Properties.Settings>
      <setting name="phuong" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value>06:00:00</value>
      </setting>
      <setting name="smtpserver" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="useraccount" serializeAs="String">
        <value />
      </setting>
      <setting name="passaccount" serializeAs="String">
        <value />
      </setting>
      <setting name="ssl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>587</value>
      </setting>
    </QLBH.Core.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <QLBH.Core.Properties.Settings>
      <setting name="F" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QLBanHang_WebReference_Main" serializeAs="String">
        <value>http://192.168.50.31/main.asmx</value>
      </setting>
    </QLBH.Core.Properties.Settings>
  </applicationSettings>
</configuration>
